.menu-bar{
    margin-right:10%;
    border-left: 0cap;
    margin-right: 0cap;
    display: flex;
    justify-content: space-around;
    padding: 4px;
    color: aliceblue;
    gap: 20px;
}

